.remove-btn {
    margin-right: 0.5rem;
}

.show-enter {
    opacity: 0.01
}

.show-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in
}

.show-exit {
    opacity: 1;
}

.show-exit-active {
    opacity: 0.01;
    transition: opacity 1000ms ease-out
}